<%- include("partials/_header") %>

  <div class="container mt-5">
    <div class="jumbotron bg-dark text-light">
      <h1 class="display-4">This application was created by Brian Ojeda</h1>
      <p class="lead">Using the following technologies:</p>
      <div class="row">
        <div class="col-md-2 text-center mb-3">
          <span>HTML</span>
          <br>
          <img src="./media/html5-icon.jpg" class="img-fluid" alt="HTML">
        </div>
        <div class="col-md-2 text-center mb-3">
          <span>Bootstrap</span>
          <br>
          <img src="./media/bootstrap.png" class="img-fluid" alt="Bootstrap">
        </div>
        <div class="col-md-2 text-center mb-3">
          <span>JavaScript</span>
          <br>
          <img src="./media/javascript.png" class="img-fluid mt-2" alt="JavaScript">
        </div>
        <div class="col-md-2 text-center mb-3">
          <span>Node.js</span>
          <br>
          <img src="./media/nodejs.png" class="img-fluid mt-2" alt="Node.js">
        </div>
        <div class="col-md-2 text-center mb-3">
          <span>MySQL</span>
          <br>
          <img src="./media/mysql.png" class="img-fluid mt-2" alt="MySQL">
        </div>
        <div class="col-md-2 text-center mb-3">
          <a href="https://github.com/Brianjr12?tab=repositories" target="_blank">
            <span>GitHub</span>
            <br>
            <img src="./media/github.png" class="img-fluid" alt="GitHub">
          </a>
        </div>
      </div>
      <hr class="my-4" style="background-color: aqua;">
      <p>Contact me:</p>
      <p>Email: brianojeda1204@gmail.com</p>
      <p>Phone: +507 62487101</p>
    </div>
  </div>

  <%- include("partials/_footer") %>