<div class="container">
  <h1 style="font-size: 30px; text-align: center;">USERS</h1>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= users[0].user_id%></td>
        <td><%= users[0].user_name%></td>
        <td><%= users[0].user_email%></td>
        <td><%= users[0].user_phone%></td>
      </tr>
    </tbody>
  </table>
</div>